@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

button {
    cursor: pointer !important;
}

@layer base {
    /*.bg-primary {*/
    /*  @apply bg-green-400 text-white;*/
    /*}*/
    /*.app-input {*/
    /*  @apply border-2 border-green-400 rounded-md p-2 w-full !shadow-none ;*/
    /*}*/
}

@layer utilities {
    .nav-link {
        @apply text-zinc-500 hover:text-zinc-800 transition-colors;
    }

    /*noinspection CssUnusedSymbol*/
    .nav-link-active {
        @apply text-zinc-900;
    }
}
